*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    max-width: 600px;
    width: 100%;
    line-height: 1.5;
  place-items: center;
}
.ted{
    color: aqua;
    padding: 10px;
}
.my-option{
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
.books{
    width: 80%;
    font-size: 100px;
}